.hero-image {
    position: relative; /* Position context for absolutely positioned elements */
}

.hero-image img {
    height: 500px; /* Fixed height */
    width: 100%; /* Full width of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
}


/* Footer*/
.footer {
    background-color: #343a40; /* Dark background */
}

.brand-icon {
    width: 50px; /* Adjust size as needed */
}

.logo {
    width: 100px; /* Adjust size as needed */
}

/* Ensure the body and html take full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Layout styles */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set min height to full viewport height */
}

main {
    flex: 1; /* Allow main to grow and take available space */
}